<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Page</title>
    <link rel="stylesheet" href="../static/CSS/styles.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-left">
            <img src="../static/Images/stock-keeping-unit.png" alt="Logo" class="logo">
            <span>Inventory Management</span>
        </div>
        <div class="nav-center">
            <img src="../static/Images/waving.png" alt="Hi" class="logo">
            {% if user %}
            <span>Hi {{ user['fname'] + " " + user['lname'] }}</span>
            {% endif %}
        </div>
        <div class="nav-right">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
    <div class="inventory-container-item">
        <h2>Inventory Items</h2>
        <div class="search-container-item">
            <input type="text" id="searchBarItem" placeholder="Search for items..">
            <button onclick="searchTable()" class="search-button">
                <img src="../static/Images/glass.png" alt="Search">
            </button>
        </div>
        <table class="inventory-table-items" id="inventoryTableItems">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Item Type</th>
                    <th>Describtion</th>
                    <th>Quantity</th>
                    <th>Addition Date</th>
                    <th>Addition Time</th>
                    <th>Price</th>
                </tr>
            </thead>
            {% if items %}
            <tbody>
                {% for row in items %}
                <tr>
                    {% for i in range(0, row|length - 2) %}
                    <td>{{ row[i] }}</td>
                    {% endfor %}
                    <td>{{ row[7]|string + " $" }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    <script src="../static/Scripts/script.js"></script>
</body>
</html>